html{
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background: linear-gradient(to right,  #90f05d, rgb(67, 240, 154), #78ffd6); */
  /* background: linear-gradient(to right, #9af16a, #78ffd6); */
  background: linear-gradient(to right, #1a2a38, #79bac5);
  color: white;
}
.App {
  text-align: center;
  background: cover;
  padding: 20px;
  box-sizing: border-box;

}

.input {
  text-align: center;
  width: 25%;
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
  /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.4); */
  box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.4);

}

.btn{
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  font-size: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
  width: 75px;
}
.box{
  width: 150px;
  /* border: 1px solid black; */
}
.box2{
  width: 150px;
  /* border: 1px solid black; */
}

.weather{
  display: flex;
  justify-content: space-evenly;
  /* background: linear-gradient(to bottom, #71adbd, #d36ded); */
  background: linear-gradient(to right, #00467f, #a5cc82);
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
  margin: 10px;
  /* padding: 5 0px; */

  /* align-items: center; */
}

.header{
  background: linear-gradient(to right, #dbeaf5, #8af7e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error{
  font-size: 24px;
  color: #fff;
}

.bold{
  font-weight: bold;
  /* color: #acf38b; */
  color: #fff;
}

.italic{
  font-style: italic;
  font-weight: 600;
}

.angle{
  transform: rotate(270deg);
}

.arrow{
  font-size: 20px;
}

.date{
  background: linear-gradient(to right, #dbeaf5, #8af7e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media(max-width:768px){
  .box2{
    display: none;
  }
  .weather{
    font-size: 14px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .box1{
    width: 100px;
  }
  .input{
    width: 200px;
  }
}

@media (max-width:375px) {
  .weather{
    font-size: 12px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .App{
    padding: 5px;
  }
}